
@import "variables.css";

/* contact default sizing */
body{
  background-image: url(https://jenniebv.github.io/project-final/img-home/1.jpg);
  color: var(--color_white);
  font-family: 'Passion one' ;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: var(--color_lightblue);
  color: var(--color_white);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--color_lightblue);
}

.container {
  border-radius: 5px;
  background-color: var(--color_lightgrey);
  padding: 20px;
  margin: 3rem auto; 
width:45rem;
color:var(--color_black);
}

form{
  display: flex;
  flex-direction: column;
}

input{
  padding: 10px;
  margin: 20px 0;
  font-family: 'Passion one';
}
textarea{
  font-family: 'Passion one';
}
.wrap{display:flex;}
.wrap>p{
      font-size: 3rem;
    width: 27rem;
    margin: auto 1rem;
    background: var(--color_black);
}
/* CONTACT MOBILE */
@media only screen and (max-width: 768px){
.wrap > p{
  font-size: 1.5rem !important;
  width: 88% !important;
}
.wrap{
  text-align: center;
  flex-direction: column;
}
.container{
  width: 84% !important;
}
}