
@import "variables.css";

.grid-materials{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1rem;
  /* background: rgb(175, 175, 175); */
  background-image: url(https://jenniebv.github.io/project-final/img-home/1.jpg);
  padding: 1rem;
  /* height: 50rem; */
  min-height: 0;
  
}
.grid-materials > div{
  border: 2px solid rgb(207, 207, 207);
  color: var(--color_almostblack);
  background-size: cover;
  font-size: 1.5rem;
  height: 13rem;
  padding: 1rem; 
  transition: opacity .2s ease-in-out;
  opacity: 0.9;
  position:relative;
  z-index: 0;
}
.grid-materials > div:hover{
  /* cursor: pointer; */
  opacity: 1;
} 
.pic:before {
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  background: var(--color_lightred);
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out;
  font-size: 6rem;
  color: var(--color_white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.pic:hover:before{transform: scaleX(1);}

#first:before { content: "Wood"; }
#forth:before { content: "Clay"; }
#fifth:before { content: "Clay ground"; }
#sixth:before { content: "Shaping"; }
#seventh:before { content: "Paints"; }

h3{
  margin: 0;
}

#first {
  grid-column: 1 / span 6;
  background-image: url(https://jenniebv.github.io/project-final/img-home/background-brown-circle-cut-40973.jpeg);
  background-position: bottom;
  }
#second {
  grid-column: 7 / span 3;
  background: var(--color_black);
  color:var(--color_white);
  text-align: end;
  }
#third {
  grid-column: 1 / span 2;
  background: var(--color_black);
  color:var(--color_white);
  }
#forth {
  grid-column: 3 / span 3;
  background-image: url(https://jenniebv.github.io/project-final/img-home/clay-sculpting.jpg);
  }
#fifth {
  grid-column: 6 / span 4;
  background-image: url(https://jenniebv.github.io/project-final/img-home/clay-1333694-710x395.jpg);
  }
#sixth {
  grid-column: 1 / span 4;
  background-image: url(https://jenniebv.github.io/project-final/img-home/maxresdefault.jpg);
  }
#seventh{
grid-column: 5 / span 5;
background-image: url(https://jenniebv.github.io/project-final/img-home/maxresdefault2.jpg);
background-position: center;
}

/* mobile materials */
@media only screen and (max-width: 768px){ 
.grid-materials{
  grid-template-columns: repeat(1, 1fr) !important;

}
#second, #third, #fifth, #sixth{
  display:none;
}
#first, #forth, #seventh{
  grid-column: 1 / 1 !important;
}
.pic:before {
  transform: scaleX(1) !important;
}
}
/* tablet materials */
@media only screen and (min-width: 768px) and (max-width: 1200px){
.grid-materials > div{
  padding:4px !important;
}
.grid-materials > div > p{
  font-size: 78%;
  margin: 0;
}
.grid-materials > div > h3{
  font-size: 80%;
}
}