#menu-toggle {
    display: none;
  }
.click {
    font-size: 2.3rem;
    z-index: 1;
}
  #collapse-menu {
    margin-left: 3rem;
    margin-top: -11px;
    transition: transform 0.3s;
    transform-origin: top;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.8);
    list-style: none;
  }
  
  input:not(:checked) ~ #collapse-menu {
    transform: scaleY(0);
  }
#collapse-menu > li{
    padding: 0.3rem;
  text-transform: uppercase;
}

#menu-label:hover, #collapse-menu > li:hover{
  cursor: pointer;
  color: lightskyblue;
}
header{
  background: black;
  width: 100%;
  height: 5rem;
  color:white;
  display: inline-flex;
  justify-content: space-between;
}
body > header > img{
    width: 13rem;
    filter:contrast(200%) brightness(150%);
}
#menu-label{
    display: inline-flex;
    align-items: center;
    
}
#menu-label > i{
    margin: 1rem;
    
}
#menu-label > i > p{
    font-family: 'Passion One', cursive;
   
}
#menu-label > p{
  margin: 1rem 0;
}
