
@import "variables.css";

/* default menu */
body{
  margin: 0;
  font-family: 'Passion One', cursive;
  
}
#menu-toggle {
    display: none;
  }
.click {
    font-size: 2.3rem;
    z-index: 1;
}
  #collapse-menu {
    margin-left: 3rem;
    margin-top: -11px;
    transition: transform 0.3s;
    transform-origin: top;
    position: absolute;
    background-color:var(--color_gray);
    list-style: none;
  }
  
  input:not(:checked) ~ #collapse-menu {
    transform: scaleY(0);
  }
#collapse-menu > li{
    padding: 0.3rem;
  text-transform: uppercase;
}

#menu-label1:hover, #collapse-menu > li:hover{
  cursor: pointer;
  opacity: 1;
}
header{
  background: var(--color_black);
  width: 100%;
  height: 5rem;
  color:var(--color_white);
  display: inline-flex;
  justify-content: space-between;
}
body > header > img{
    width: 13rem;
    filter:contrast(200%) brightness(150%);
}
#menu-label1{
    display: inline-flex;
    align-items: center;
    color:var(--color_white);
    opacity: 0.9;
    
}
#menu-label1 > i{
    margin: 1rem;
    
}
#menu-label1 > i > p{
    font-family: 'Passion One', cursive;
   
}
#menu-label1 > p{
  margin: 1rem 0;
}
#collapse-menu > li > a{
  text-decoration: none;
  color:var(--color_white);
  opacity: 0.9;
}
#collapse-menu > li > a:hover{
  opacity: 1;
}
/* +++++++++++++++++++++++++++++++++++++ Follow us +++++++++++++++++++++++++++++++++++++ */
.follow-us{
  height: 6rem;
  /* background:  url(/img-home/1.jpg); */
  /* background: var(--color_black); */
 background: linear-gradient(135deg, rgb(66, 66, 66) 0%, rgba(0,0,0,1) 49%, rgba(0,0,0,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ft{
  margin: 0;
  background: linear-gradient(45deg, rgba(163,163,163,1) 0%, rgba(255,255,255,1) 100%);
}
footer> a{ 
  padding: 20px;
  font-size: 30px;
  margin: 5px 2px;
  background-color: var(--color_black);
}
.icon:hover {
  cursor: pointer;
  filter: grayscale(0%);
}
footer> div.follow-us-wrap{ 
  display: inline-block;
  text-align: center;
}
.icon{
  border-radius: 50%;
  filter: grayscale(50%);
  width: 60px;
  height: 60px;
  margin-right: 1rem;
  display: inline-flex;
  color: var(--color_white);
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.icon:nth-child(1){
  background: var(--color_blue);
}
.icon:nth-child(2){
  background: var(--color_lightblue);
}
.icon:nth-child(3){
  background: var(--color_red);
}
.icon:nth-child(4){
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
/* +++++++++++++++++++++++++++++++++++++ FOOTER +++++++++++++++++++++++++++++++++++++*/
footer{
  text-align: center;
  color:rgb(27, 27, 27);
  height: 20rem;
  font-size: 1.1rem;
}
.ft > li{
  border-left: 1.2px #a7a7a7 solid;
    margin: 1rem 3rem;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    padding: 1rem;
    height: 194px;
}
.ft > li > h4{
     margin-top: 0;
    font-weight: lighter;
    /* font-style: italic; */
    font-size: 1.3rem;
}
.ft  > li:nth-child(2) > p:nth-child(3) > span{
  font-style: italic;
}
.ft > li:nth-child(2) > p:nth-child(4) > span{
  text-decoration: underline;
}

/* mobile menu */
@media only screen and (max-width: 768px){ 
  body{
      height: 722px;
  }
  .click{
      position: sticky;
      font-size: 3.3rem;
      height: 3rem;
  }
  body > header > img, #menu-toggle, .titles, #menu-label1 > p, .afw > p, .afw > img {
      display: none !important;
  }
  #menu-label1{
      opacity: 1;
  }
  
  .ft {
  padding: 0;
  font-size: 12px;
  }
  .ft > li{
      margin: 0 !important;
      width: 100%;
      height: auto !important;
      display: flex !important;
      flex-direction: column;
      align-items: center;
      border-bottom: 1.2px #a7a7a7 solid;
          
  }
  .ft > li:focus > p{
    display: block;
    font-size: 1.2rem;
  }
  .ft > li > h4 {
    margin-bottom: 1rem;
    font-size: 2rem !important; }
  .ft> li > p {
    display:none;
  }
  .ft > li > h4::after {
    content: '      \25be';
    color: var(--color_dimgray); }
  
}

/* tablet menu */
@media only screen and (min-width: 768px) and (max-width: 1200px){
  
  .ft {
      padding: 0;
      font-size: 12px;
      }
      .ft > li{
          margin: 0 !important;
          width: 100%;
          height: auto !important;
          display: flex !important;
          flex-direction: column;
          align-items: center;
          border-bottom: 1.2px #a7a7a7 solid;
              
      }
      .ft > li > h4{
          margin: 0;
          font-size: 2rem !important;
      }
      .ft > li > p{
          font-size: 1rem;
      } 
      .afw>img{width: 100%;}
    }