body{
  margin: 0;
  font-family: 'Passion One', cursive;
  
}
#menu-toggle {
    display: none;
  }
.click {
    font-size: 2.3rem;
    z-index: 1;
}
  #collapse-menu {
    margin-left: 3rem;
    margin-top: -11px;
    transition: transform 0.3s;
    transform-origin: top;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.8);
    list-style: none;
  }
  
  input:not(:checked) ~ #collapse-menu {
    transform: scaleY(0);
  }
#collapse-menu > li{
    padding: 0.3rem;
  text-transform: uppercase;
}

#menu-label1:hover, #collapse-menu > li:hover{
  cursor: pointer;
  opacity: 1;
}
header{
  background: black;
  width: 100%;
  height: 5rem;
  color:white;
  display: inline-flex;
  justify-content: space-between;
}
body > header > img{
    width: 13rem;
    filter:contrast(200%) brightness(150%);
}
#menu-label1{
    display: inline-flex;
    align-items: center;
    color:white;
    opacity: 0.9;
    
}
#menu-label1 > i{
    margin: 1rem;
    
}
#menu-label1 > i > p{
    font-family: 'Passion One', cursive;
   
}
#menu-label1 > p{
  margin: 1rem 0;
}
#collapse-menu > li > a{
  text-decoration: none;
  color:white;
  opacity: 0.9;
}
#collapse-menu > li > a:hover{
  opacity: 1;
}
/* +++++++++++++++++++++++++++++++++++++ Follow us +++++++++++++++++++++++++++++++++++++ */
.follow-us{
  height: 6rem;
  /* background:  url(/img-home/1.jpg); */
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ft{
  margin: 0;
  background: #eae9e8;
}
footer> a{ 
  padding: 20px;
  font-size: 30px;
  margin: 5px 2px;
  background-color: black;
}
.icon:hover {
  cursor: pointer;
  filter: grayscale(0%);
}
footer> div.follow-us-wrap{ 
  display: inline-block;
  text-align: center;
}
.icon{
  border-radius: 50%;
  filter: grayscale(50%);
  width: 60px;
  height: 60px;
  margin-right: 1rem;
  display: inline-flex;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.icon:nth-child(1){
  background: blue;
}
.icon:nth-child(2){
  background: lightskyblue;
}
.icon:nth-child(3){
  background: red;
}
.icon:nth-child(4){
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
/* +++++++++++++++++++++++++++++++++++++ FOOTER +++++++++++++++++++++++++++++++++++++*/
footer{
  text-align: center;
  color:rgb(27, 27, 27);
  height: 20rem;
  font-size: 1.1rem;
}
.ft > li{
  margin: 1rem 5rem;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}
.ft > li > h4{
  font-weight: lighter;
  font-style: italic;
  font-size: 1.3rem;
}
.ft  > li:nth-child(2) > p:nth-child(3) > span{
  font-style: italic;
}
.ft > li:nth-child(2) > p:nth-child(4) > span{
  text-decoration: underline;
}