
@import "variables.css";

/* default products */
.wrapper > img {
  width: 100%;
  height: auto;
  margin: 0;
}
body{
  margin: 0;
  overflow-x: hidden;
  font-family: 'Passion One', cursive;
  background: var(--color_black);
}
#rick, #morty, #banana, #mr, #bird, #dog {
  margin-left: 2rem;
  width: 11.5rem;
  height: 39rem;
  /* background: rgba(68, 0, 255, 0.301);  */
  position: absolute;
  top: 5.5rem;
  opacity: 0.0;
  
  display: flex;
  justify-content: center;
      align-items: center;
  font-size: 2rem;
  text-shadow: -2px -1px black, 1px 2px black, 3px 2px black, 0 -1px black;

}
#rick:hover, #morty:hover, #banana:hover, #mr:hover, #bird:hover, #dog:hover{
  opacity: 1; 
  cursor: pointer;
  color: var(--color_lightorange);
}
#morty { right: 60rem; }

#banana {
  right: 52rem;
  width: 8rem;
}

#mr { right: 39rem; }

#bird {    
  right: 22rem;
  width: 19rem;
}

#dog {
  right: 4rem;
  width: 17rem;
}

/* mobile products */
@media only screen and (max-width: 768px){
.wrapper>div{
  display: none !important;
}
.names {
  flex-direction: column;
  align-items: center; }
  .names > li {
    box-shadow: 2px 2px 10px var(--color_orange);
    margin-top: 1rem !important; }
}

/* copied from 500 lines */
.names {
  display: flex;
  justify-content: space-between;
  background-image: url(https://jenniebv.github.io/project-final/img-home/1.jpg);
  color: var(--color_black);
  list-style: none;
  margin: 0;
  padding: 1rem 0;
  font-size: 1.8rem; }
  .names > li {
    margin: 0 5px;
    display: inline-block;
    padding: 1rem;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    border-radius: 50px;
    text-align: center; }
    .names > li:hover {
      box-shadow: 2px 2px 10px var(--color_orange);
      cursor: pointer; }
    .names > li > a {
      text-decoration: none;
      color: var(--color_orange);
      text-shadow: 2px 2px 2px var(--color_black); }