/* default style for index */

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Passion One', cursive;
  background: white;
}

/* +++++++++++++++++++++++++++++++++++++ Main / slider +++++++++++++++++++++++++++++++++++++ */

@keyframes slide {
20% {margin-left: 0px;}
30% {margin-left: -1350px;}
50% {margin-left: -1350px;}
60% {margin-left: -2700px;}
70% {margin-left: -2700px;}
80% {margin-left: -4050px;}
90% {margin-left: -4050px;}
}
#slideshow{
    display: inline-block;
    background: black;
    width:100%; 
   
}
 /* For animation: (1)uncomment the below #slideshow; (2) comment #slideshow > img; (3)uncomment the images in index.html; */

/* #slideshow{
  width: 7680px;
  animation: slide 18s ease infinite;
} */

/* Comment this one: (step 2) */
#slideshow > img{
     width:100%;
    height:auto; 
}
/* End */


.titles {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .titles > div > h3 {
    font-size: 4rem;
    margin: 0; }
  .titles > .title1 {
    width: 32rem;
    top: 23rem; }
    .titles > .title1 > h3 {
      color: #ffff6a; }
  .titles > .title2 {
    top: 150px;
    margin-left: 56%; }
    .titles > .title2 > h3 {
      color: #95deff; }

.title1 {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  font-size: 60px;
  height: 200px;
  color: white;
  background-color: black;
  position: absolute;
  opacity: 0.7;
  text-align: center;
  transition: opacity 0.5s; }
  .title1:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1; }

.title2 {
  display: flex;
  align-items: center;
  font-size: 60px;
  height: 200px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  opacity: 0.7;
  text-align: center;
  transition: opacity 0.5s; }
  .title2:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1; }

/* +++++++++++++++++++++++++++++++++++++ PRODUCTS +++++++++++++++++++++++++++++++++++++ */
.pictures{
  display: inline-flex;
  list-style: none;
  padding: 0;
  background: white;
  padding-top: 1rem;
}
.pictures > li{
  display: inline-block;
  margin: 1px 5px 1px 1px;
  height: 294px;
  border-right: 4px solid transparent;

}
.pictures > li > img{
  height: 18rem;
  width: 20rem;
  margin-left: 2px;
  opacity: 0.9;
  transition: transform .2s ease-in-out;
}
.pictures > li:hover > img{
  transform: scale(1.09);
  opacity: 1;
}
.pictures > li:hover{
  cursor: pointer;
}

.pictures > li:hover > .down {
  cursor: pointer;
  visibility: visible;
}
.down{
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1.5rem;
  color: white;
  text-align: center;
  height: 3rem;
  position: relative;
  bottom: 35px;
  visibility: hidden;
}
/*+++++++++++++++++++++++++++++++++++++ ACTION FIGURES WALLPAPEr */
.afw {
  display: flex;
  background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 74%, rgba(0,0,0,1) 78%, rgba(255,255,255,1) 100%);
  align-items: flex-end;
}
.afw > p{
  width: 29%;
  font-size: 3.5rem;
  margin: 0;
  color: #eae9e8;
}

/* mobile size style index */
@media only screen and (max-width: 768px){ 
  
  body > main{
      height: 16rem;
  }
  #slideshow{ 
  position: relative;
  bottom: 6rem;
  width: 200% !important;
  }
  #slideshow > img{
      margin: 0 -60% !important;
  width: 168.777% !important;
  }
  header {
      width: 100%;
  }
  .afw{
      height: 27rem;
      /* background-image: url(https://jenniebv.github.io/project-final/img-home/review_funkorm_large.jpg) !important;
      background-size: cover !important; */
  }
  .afw > img{
    width: 100%;
    display: block !important;
  }
  .pictures > li > img{
      height: auto !important;
  }
  .pictures > li {
      height: 8rem !important;
      width: 79%;
  }
  .pictures > li > .down {
      visibility: visible;
      width: initial;
      margin: 0 auto;
  }
  .pictures{
      display: inline-block !important;
  position: relative;
  bottom: 7rem;
  text-align: center;
  }
}

/* style tablet index */
@media only screen and (min-width: 768px) and (max-width: 1200px){
  .title1, .title2{
      width: 19rem !important;
  top: 14rem !important;
  }
  .titles > div > h3{
      font-size: 2.4rem !important;
  }
  .title2{
      margin-left: 56% !important;
  }

  .pictures{
      display: inline-block !important;
      text-align: center;
  }
  .pictures > li{
      display: inline-block !important;
      width: 40% !important;
      height: auto !important;
  }
  .pictures > li > img {
      height: auto !important;
      width: 100% !important;
  }
  .afw{
    flex-direction: column-reverse;
    align-items: baseline !important;
    background: black !important;
}
.afw > p {
    width: 100% !important;
    font-size: 2.5rem;
}
}