body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Passion One', cursive;
    background: white;
}

/* +++++++++++++++++++++++++++++++++++++ Main / slider +++++++++++++++++++++++++++++++++++++ */

  @keyframes slide {
    /* 20% {margin-left: 0px;}
    60% {margin-left: -70rem;}
    80% {margin-left: -140rem;} */
  20% {margin-left: 0px;}
  30% {margin-left: -1350px;}
  50% {margin-left: -1350px;}
  60% {margin-left: -2700px;}
  70% {margin-left: -2700px;}
  80% {margin-left: -4050px;}
  90% {margin-left: -4050px;}
  }
  #slideshow{
      /* animation: slide 18s ease infinite;  */
      display: inline-block;
      width: 7680px; 
      background: black;
     
  }
.titles > div > h3 {
    font-size: 4rem;
    margin: 0;
}
.titles > .title1 > h3{
    color:rgb(255, 255, 106);
}
.titles > .title2 > h3{
    color:rgb(149, 222, 255);
} 
.titles > .title1{
    width: 590px; 
    top: 398px;
    
}
.titles > .title2{
    top: 150px;
    margin-left: 50rem;
}
.title1, .title2{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    font-size: 60px;
    height: 200px;
    color:white;
    background-color: rgba(0, 0, 0, 0.8); 
    position: absolute;
    opacity: 0.7;
    text-align: center; 
    transition: opacity 0.5s;
    width: 500px; 
}
.title1:hover, .title2:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
 }
/* +++++++++++++++++++++++++++++++++++++ PRODUCTS +++++++++++++++++++++++++++++++++++++ */
.pictures{
    display: inline-flex;
    list-style: none;
    padding: 0;
    background: white;
    padding-top: 1rem;
}
.pictures > li{
    display: inline-block;
    margin: 1px 5px 1px 1px;
    height: 294px;
    border-right: 4px solid transparent;

  }
  .pictures > li > img{
    height: 18rem;
    width: 20rem;
    margin-left: 2px;
    opacity: 0.9;
    transition: transform .2s ease-in-out;
}
.pictures > li:hover > img{
    transform: scale(1.09);
    opacity: 1;
}
.pictures > li:hover{
    cursor: pointer;
}

.pictures > li:hover > .down {
    cursor: pointer;
    visibility: visible;
}
.down{
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 1.5rem;
    color: white;
    text-align: center;
    height: 3rem;
    position: relative;
    bottom: 35px;
    visibility: hidden;
}
/*+++++++++++++++++++++++++++++++++++++ ACTION FIGURES WALLPAPEr */
.afw {
    display: flex;
    background: black;
    align-items: flex-end;
}
.afw > p{
    width: 29%;
    font-size: 3.5rem;
    margin: 0;
    color: #eae9e8;
}

/* ++++++++++++++++++++++++++++++++++ MENU BUTTON +++++++++++++++++++++++++++++++++ */
/* video */