/* *{
    margin: 0;
    padding: 0;
} */
body{
    /* text-align: center; */
}
.rate {
    background: whitesmoke;
    float: left;
    height: 46px;
    padding: 0 10px;
    border-radius: 19px;
    margin: 1rem;
    border: 1.5px #bebebe solid;
    text-align: center;

}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #ffc700;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #ffc700;
}
/* 
div.wrapper > div.rate:nth-child(31){ margin-left: 6rem; }
div.wrapper > div.rate:nth-child(15){ margin: 1rem 0; }
div.wrapper > div:nth-child(19){ margin-left: 0.5rem; }
div.wrapper > div:nth-child(23){ margin-left: 0rem; }
div.wrapper > div:nth-child(27){ margin-left: 3.8rem; } */