#For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

title: Tova e zaglavie
email: tova e poshta
description: >- # this means to ignore newlines until "baseurl:"
  tova e opisanie
baseurl: "R-M" # the subpath of your site, e.g. /blog
destination: docs
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: Jenkye wast
github_username:  jennibv
exclude: [_assets, node_modules, Gemfile, Gemfile.lock, gulpfile.js, package.json, package-lock.json, README.md]
# Build settings
markdown: kramdown
# theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
