---
layout: page
permalink: /fans/
---
<!-- <base href="/"> -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/fans.css">

<div class="text"><p>Send your Rick&Morty photos at cmr@rm.com and let the others rate you!</p>
    <p>Monthly, we choose a winner and send them a mystery box.</p></div> 
<ul class="album">
    
    
    <li><img src="{{ site.baseurl }}/img-home/20067188_126107118001887_6880170147970023424_n.jpg" alt="">
        <p>Tina K.</p> 
        <p>Snowball</p>
        {% include stars.html %}
    </li>
    
    <li><img src="{{ site.baseurl }}/img-home/20766455_1916607988661385_6399891782351454208_n.jpg" alt="">
    <p>Peter L.</p> 
        <p>Outta the portal</p>
        {% include stars.html %}
    </li>

    <li><img src="{{ site.baseurl }}/img-home/19379632_107713639894367_3669233837063274496_n.jpg" alt="">
    <p>Garry M.</p> 
        <p>The beach is mine</p>
        {% include stars.html %}
    </li>

</ul>