body{
    background-image: url(/img-home/1.jpg);
    color:white;
    margin: 0; padding: 0;
}
.album {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    list-style: none;
}
.album> li{
    display: flex;
    flex-direction: column;
    flex: 0 0 22%;
    align-items: center;
    margin: 1rem;
    background: rgba(0, 0, 0, 0.84);
        box-shadow: 2px 2px 8px wheat;
}
.album> li> img{
    /* border-radius: 10px; */
    width: auto;
    height: 21rem;
    
    
}
.album > p  {
    font-size: 2.8rem;
    margin: 0;
}
.album > li > p{
    margin: 0.2rem;
    font-size: 1.4rem;
}