
/* CONTACT US  */
@media only screen and (max-width: 768px) {
.wrap {
	>p {
		font-size: 1.5rem !important;
		width: 88% !important;
	}
	text-align: center;
	flex-direction: column;
}
.container {
	width: 84% !important;
}
}