// $color_1: white;
// $color_2: rgb(27, 27, 27);
// $font_family_1: 'Passion One', cursive;
// $background_color_1: rgba(0, 0, 0, 0.8);
// $background_color_black: black;
@import "./_assets/variables";
// @import "/assets/css/media/mobile.css) only screen and (max-width: 768px";
// @import "/assets/css/media/tablet.css) only screen and (min-width: 768px) and (max-width: 1024px)";
/* +++++++++++++++++++++++++++++++++++++ Follow us +++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++ FOOTER +++++++++++++++++++++++++++++++++++++*/
body {
	margin: 0;
	font-family: $font_family_1;
	>header {
		>img {
			width: 13rem;
			filter: contrast(200%) brightness(150%);
		}
	}
}
#menu-toggle {
	display: none;
}
.click {
	font-size: 2.3rem;
	z-index: 1;
}
#collapse-menu {
	margin-left: 3rem;
	margin-top: -11px;
	transition: transform 0.3s;
	transform-origin: top;
	position: absolute;
	background-color: $background_color_fblack;
	list-style: none;
	>li {
		padding: 0.3rem;
		text-transform: uppercase;
		&:hover {
			cursor: pointer;
			opacity: 1;
		}
		>a {
			text-decoration: none;
			color: $color_white;
			opacity: 0.9;
			&:hover {
				opacity: 1;
			}
		}
	}
}
input {
	&:not(:checked) {
		&~#collapse-menu {
			transform: scaleY(0);
		}
	}
}
#menu-label1 {
	&:hover {
		cursor: pointer;
		opacity: 1;
	}
	display: inline-flex;
	align-items: center;
	color: $color_white;
	opacity: 0.9;
	>i {
		margin: 1rem;
		>p {
			font-family: $font_family_1;
		}
	}
	>p {
		margin: 1rem 0;
	}
}
header {
	background: black;
	width: 100%;
	height: 5rem;
	color: $color_white;
	display: inline-flex;
	justify-content: space-between;
}
.follow-us {
	height: 6rem;
	background: linear-gradient(135deg, rgb(66, 66, 66) 0%, rgba(0,0,0,1) 49%, rgba(0,0,0,1) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}
.ft {
	margin: 0;
	background: linear-gradient(45deg, rgba(163,163,163,1) 0%, rgba(255,255,255,1) 100%);
	>li {
		border-left: 1.2px #a7a7a7 solid;
		margin: 1rem 3rem;
		display: inline-block;
		text-align: left;
		vertical-align: top;
		padding: 1rem;
		height: 194px;
		>h4 {
			margin-top: 0;
			font-weight: lighter;
			font-size: 1.3rem;
		}
		&:nth-child(2) {
			>p {
				&:nth-child(3) {
					>span {
						font-style: italic;
					}
				}
				&:nth-child(4) {
					>span {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
footer {
	>a {
		padding: 20px;
		font-size: 30px;
		margin: 5px 2px;
		background-color: $background_color_black;
	}
	>div.follow-us-wrap {
		display: inline-block;
		text-align: center;
	}
	text-align: center;
	color: $color_lblack;
	height: 20rem;
	font-size: 1.1rem;
}
.icon {
	&:hover {
		cursor: pointer;
		filter: grayscale(0%);
	}
	border-radius: 50%;
	filter: grayscale(50%);
	width: 60px;
	height: 60px;
	margin-right: 1rem;
	display: inline-flex;
	color: $color_white;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	&:nth-child(1) {
		background: $color_blue;
	}
	&:nth-child(2) {
		background: $color_lblue;
	}
	&:nth-child(3) {
		background: $color_red;
	}
	&:nth-child(4) {
		background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
	}
}
