body{
  background-image: url(/img-home/1.jpg);
  color: white;
  font-family: 'Passion one' ;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: lightskyblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: lightskyblue;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 3rem auto; 
width:45rem;
color:black;
}

form{
  display: flex;
  flex-direction: column;
}

input{
  padding: 10px;
  margin: 20px 0;
  font-family: 'Passion one';
}
textarea{
  font-family: 'Passion one';
}