/* products */
@media only screen and (max-width: 768px) {
  .wrapper > div {
    display: none !important; }
  .names {
    flex-direction: column;
    align-items: center; }
    .names > li {
      box-shadow: 2px 2px 10px orange;
      margin-top: 1rem !important; } }
