<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/menu.css"> 
    <title>{{ page.title }}</title>
    <base href="/"> 
</head>
<body>
        <header>
          <div class="click">
            <input id="menu-toggle" type="checkbox">
            <label id="menu-label1" for="menu-toggle">
                <i class="fas fa-bars"></i>
                MENU
            </label>
            <ul id="collapse-menu">
              <li><a href="{{ site.baseurl }}/index">home</a></li>
              <li><a href="{{ site.baseurl }}/products">products</a></li>
              <li><a href="{{ site.baseurl }}/materials">materials</a></li>
              <li><a href="{{ site.baseurl }}/fans/">fans</a></li>
              <li><a href="{{ site.baseurl }}/contact">contact us</a></li>
              <!-- <li><a href="">see what's coming...</a></li> -->
            </ul>
          </div>
            
          <img src="{{ site.baseurl }}/img-home/58f37720a4fa116215a9240f.png" alt="">
            
        </header>

     {{ content }}

     <footer>
        <ul class="ft">
            <li tabindex="0"><h4>Working hours</h4>
            <p>Monday - Friday: 8:00 - 20:00</p>
            <p>Saturday: 9:00 - 17:00</p>
            <p>Sunday: non-working</p>
            </li>
            <li tabindex="0"><h4>Delivery and reclamation</h4>
                <p>We use <span>Econt</span> to send your orders.</p>
                <p><span>Tracking number</span> will be available in 2 days <br> after the placement of your order.</p>
                <p>If are not satisfied, please check out our <span>return policy</span>.</p>
            </li>
            <li tabindex="0"><h4>Contact details</h4>
                <p>0800 921 556</p>
                <p>customer.service@rm.com</p>
            </li>
        </ul>
         <section class="follow-us"> 
            <div class="follow-us-wrap">
                   <div class="icon"><i class="fab fa-facebook-f"></i></div>
                   <div class="icon"><i class="fab fa-twitter"></i></div>
                   <div class="icon"><i class="fab fa-youtube"></i></div>
                   <div class="icon"><i class="fab fa-instagram"></i></div>
               </div>   
           </section>
    </footer>
</body>
</html>