---
layout: page
---
<link rel="stylesheet" href="{{ site.baseurl }}/css/purchase.css">

<div class="fig">
   
{{content}}
<div class="item">
<p class="title">Action figure</p>
<p class="price">Price for one piece: <span>10$</span></p>
</div>

<div class="container">
    <form>
      <label for="name">Purchaser</label>
      <input type="text" id="name" name="name" placeholder="First and last name">
  
      <label for="phone">Phone number</label>
      <input type="text" id="phone" name="phone" placeholder="enter valid phone number">
  
      <label for="address">Delivered to...</label>
      <input type="text" id="address" name="address" placeholder="Enter your address">
  
      <input type="submit" value="Purchase">
    </form>
  </div>
</div>