@media only screen and (min-width: 768px) and (max-width: 1024px){
    .title1, .title2{
        width: 19rem !important;
    top: 14rem !important;
    }
    .titles > div > h3{
        font-size: 2.4rem !important;
    }
    .title2{
        margin-left: 56% !important;
    }

    .pictures{
        display: inline-block !important;
        text-align: center;
    }
    .pictures > li{
        display: inline-block !important;
        width: 40% !important;
        height: auto !important;
    }
    .pictures > li > img {
        height: auto !important;
        width: 100% !important;
    }
    .ft {
        padding: 0;
        font-size: 12px;
        }
        .ft > li{
            margin: 0 !important;
            width: 100%;
            height: auto !important;
            display: flex !important;
            flex-direction: column;
            align-items: center;
            border-bottom: 1.2px #a7a7a7 solid;
                
        }
        .ft > li > h4{
            margin: 0;
            font-size: 2rem !important;
        }
        .ft > li > p{
            font-size: 1rem;
        } 

        .afw{
            flex-direction: column-reverse;
            align-items: baseline !important;
            background: black !important;
        }
        .afw > p {
            width: 100% !important;
            font-size: 2.5rem;
        }
        body > div.afw > img{
            width: 100%;
		}
	}