
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.grid-materials {
		>div {
			padding: 4px !important;
			>p {
				font-size: 78%;
				margin: 0;
			}
			>h3 {
				font-size: 80%;
			}
		}
	}
}
