// $color_white: white;
// $color_black: black;
// $font_family_1: 'Passion one';
// $color_lblue: lightskyblue;
// $color_lgrey: #f2f2f2;

// $color_white: white;
// @import "./_assets/variables";
@import "./_assets/imports";

body {
	background-image: url(/img-home/1.jpg);
	color: $color_white;
	font-family: $font_family_1;
}
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid $color_lgrey;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
// select {
// 	width: 100%;
// 	padding: 12px;
// 	border: 1px solid #ccc;
// 	border-radius: 4px;
// 	box-sizing: border-box;
// 	margin-top: 6px;
// 	margin-bottom: 16px;
// 	resize: vertical;
// }
// textarea {
// 	width: 100%;
// 	padding: 12px;
// 	border: 1px solid #ccc;
// 	border-radius: 4px;
// 	box-sizing: border-box;
// 	margin-top: 6px;
// 	margin-bottom: 16px;
// 	resize: vertical;
// 	font-family: $font_family_1;
// }
input[type=submit] {
	background-color: $color_lblue;
	color: $color_white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	&:hover {
		background-color: $color_lblue;
	}
}
.container {
	border-radius: 5px;
	background-color: $color_lgrey;
	padding: 20px;
	margin: 3rem auto;
	width: 45rem;
	color: $color_black;
}
form {
	display: flex;
	flex-direction: column;
}
input, textarea {
	padding: 10px;
	margin: 20px 0;
	font-family: $font_family_1;
}
.wrap {
	display: flex;
	>p {
		font-size: 3rem;
		width: 27rem;
		margin: auto 1rem;
		background: $color_black;
	}
}
