$font_family_1: 'Passion One', cursive;

$color_lblack: rgb(27, 27, 27);
$background_color_black: black;
$color_black: black;

$color_yellow: rgb(255, 255, 106);
$color_lblue: rgb(149, 222, 255);
$color_white: white;
$color_lgrey: #eae9e8;
$color_blue: #0400e7;
$color_red: #ff0000;
$color_star: #ffc700;

$background_color_fblack: rgba(0, 0, 0, 0.8);

//products
$color_lbrick: rgb(254, 152, 81);
$color_orange: orange;

//materials
$color_dark_red: rgba(54, 33, 33, 0.479);

//stars
$color_stars: rgb(180, 180, 180);